@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: "Noto Serif", serif;
	font-size: 1em;
	font-weight: 400;
}

.botao1 {
	text-decoration: none;
	background-color: #66ff66;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.botao1:hover {
	background-color: #2f752f;
}

table#tabelaFornecedores, table#tabelaUsuarios {
	margin-top: 30px;
	border-collapse: collapse;
}

table#tabelaFornecedores th, table#tabelaUsuarios th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #66ff66;
	color: #fff;
}

table#tabelaFornecedores td, table#tabelaUsuarios td {
	border: 1px solid #ddd;
	padding: 10px;
}

