<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>gestao-cooperativa-reciclagem-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>LoteBrutoController</servlet-name>
    <servlet-class>com.gestaocooperativareciclagem.controller.LoteBrutoController</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>LoteProcessadoController</servlet-name>
    <servlet-class>com.gestaocooperativareciclagem.controller.LoteProcessadoController</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>FornecedorController</servlet-name>
    <servlet-class>com.gestaocooperativareciclagem.controller.FornecedorController</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ClienteController</servlet-name>
    <servlet-class>com.gestaocooperativareciclagem.controller.ClienteController</servlet-class>
  </servlet>
  
  <filter>
    <filter-name>AutenticacaoFilter</filter-name>
    <filter-class>com.gestaocooperativareciclagem.filter.AutenticacaoFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AutenticacaoFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>OperadorFilter</filter-name>
    <filter-class>com.gestaocooperativareciclagem.filter.OperadorFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>OperadorFilter</filter-name>
    <servlet-name>LoteBrutoController</servlet-name>
    <servlet-name>LoteProcessadoController</servlet-name>
  </filter-mapping>
  
  <filter>
    <filter-name>GerenteFilter</filter-name>
    <filter-class>com.gestaocooperativareciclagem.filter.GerenteFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>GerenteFilter</filter-name>
    <servlet-name>FornecedorController</servlet-name>
    <servlet-name>ClienteController</servlet-name>
    <servlet-name>CategoriaProcessamentoController</servlet-name>
    <servlet-name>PrecoMaterialController</servlet-name>
    <servlet-name>TipoMaterialController</servlet-name>
    <servlet-name>TransacaoCompraController</servlet-name>
    <servlet-name>VendaController</servlet-name>
  </filter-mapping>
  
  <filter>
    <filter-name>AdministradorFilter</filter-name>
    <filter-class>com.gestaocooperativareciclagem.filter.AdministradorFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AdministradorFilter</filter-name>
    <servlet-name>UsuarioController</servlet-name>
  </filter-mapping>
</web-app>